table.table1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.8em;
    font-style: normal;
    border-collapse:separate;
}
.table1 thead th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #416D89;
    border:1px solid #416D89;
    border-bottom:3px solid #416D89;
    background-color:#5E93B1;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(94, 147, 177)),
        color-stop(0.51, rgb(94, 147, 177)),
        color-stop(0.87, rgb(94, 147, 177))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(94, 147, 177) 2%,
        rgb(94, 147, 177) 51%,
        rgb(94, 147, 177) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.table1 thead th:empty{
    background:transparent;
    border:none;
}

.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}

.table1 tbody td{
    padding:8px;
    text-align:center;
    background-color:#DBE7EE;
    border: 2px solid #416D89;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#555;
    text-shadow:1px 1px 1px #ddd;
}